:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#add-button {
    align-self: flex-start;
    max-width: 160px;
    height: 38px;
}

#table {
    align-self: center;
    padding: 5px;
    border: 1px solid #888888;
    border-radius: 3px;
    height: auto;
    width: 100%;
}

#form {
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 10px;
    background-color: wheat;
    position: absolute;
    left: calc(50% - 120px);
    width: 240px;
    visibility: hidden;
}
input {
   max-height: 30px; margin-bottom: -5px;
}
.alert-danger {
   padding: 5px;
}

td {
    line-height: 8px;
    font-size: 13px;
}

@media (max-width: 650px) {
    td, th {
        font-size: 8px;
    }
    #table {
        padding: 0px;
        border: none;
    }
    :host {
        padding: 0px;
    }
}
